<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>status</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${itemStat.count}">id</td>
                    <td th:text="${item.name}">name</td>
                    <td th:text="${item.status}">status</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<div>
    <div th:insert="footer :: login"></div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>